homework_M2/q4.yaml
id: 04_postgres_taxi_2020_green
namespace: zoomcamp
description: >
  Load all Green Taxi CSV files for 2020 from GitHub and insert into Postgres.

variables:
  taxi: green
  year: "2020"
  table: "public.green_tripdata_2020"
  staging_table_prefix: "public.green_tripdata_staging_2020_"

tasks:
  - id: months_loop
    type: io.kestra.plugin.core.flow.ForEach
    values: ["01","02","03","04","05","06","07","08","09","10","11","12"]
    concurrencyLimit: 1
    tasks:
      - id: set_vars
        type: io.kestra.plugin.core.execution.SetVariables
        variables:
          month: "{{ taskrun.value }}"
          file: "green_tripdata_2020-{{ taskrun.value }}.csv"
          staging_table: "{{ vars.staging_table_prefix }}{{ taskrun.value }}"
      
      - id: extract
        type: io.kestra.plugin.scripts.shell.Commands
        outputFiles:
          - "*.csv"
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        commands:
          # Note the 'green' in the URL path and filename
          - wget -qO- https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/{{ vars.file }}.gz | gunzip > {{ vars.file }}
          - echo "📦 Extracted {{ vars.file }}"

      - id: create_main_table
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          CREATE TABLE IF NOT EXISTS {{ vars.table }} (
              unique_row_id          text,
              filename               text,
              VendorID               text,
              lpep_pickup_datetime   timestamp,
              lpep_dropoff_datetime  timestamp,
              store_and_fwd_flag     text,
              RatecodeID             text,
              PULocationID           text,
              DOLocationID           text,
              passenger_count        integer,
              trip_distance          double precision,
              fare_amount            double precision,
              extra                  double precision,
              mta_tax                double precision,
              tip_amount             double precision,
              tolls_amount           double precision,
              ehail_fee              double precision,
              improvement_surcharge  double precision,
              total_amount           double precision,
              payment_type           integer,
              trip_type              integer,
              congestion_surcharge   double precision
          );

      - id: create_staging_table
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          CREATE TABLE IF NOT EXISTS {{ vars.staging_table }} (LIKE {{ vars.table }} INCLUDING ALL);
          TRUNCATE TABLE {{ vars.staging_table }};

      - id: copy_csv_to_staging
        type: io.kestra.plugin.jdbc.postgresql.CopyIn
        format: CSV
        # Fixed URI reference for ForEach loop
        from: "{{ outputs.extract[taskrun.value].outputFiles[vars.file] }}"
        table: "{{ vars.staging_table }}"
        header: true
        columns: [VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge]

      - id: add_unique_id_and_filename
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          UPDATE {{ vars.staging_table }}
          SET 
            unique_row_id = md5(
              COALESCE(CAST(VendorID AS text), '') ||
              COALESCE(CAST(lpep_pickup_datetime AS text), '') || 
              COALESCE(CAST(lpep_dropoff_datetime AS text), '') || 
              COALESCE(PULocationID, '') || 
              COALESCE(DOLocationID, '') || 
              COALESCE(CAST(fare_amount AS text), '') || 
              COALESCE(CAST(trip_distance AS text), '')      
            ),
            filename = '{{ vars.file }}';

      - id: merge_to_main
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          MERGE INTO {{ vars.table }} AS T
          USING {{ vars.staging_table }} AS S
          ON T.unique_row_id = S.unique_row_id
          WHEN NOT MATCHED THEN
            INSERT (
              unique_row_id, filename, VendorID, lpep_pickup_datetime, lpep_dropoff_datetime,
              store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count,
              trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee,
              improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge
            )
            VALUES (
              S.unique_row_id, S.filename, S.VendorID, S.lpep_pickup_datetime, S.lpep_dropoff_datetime,
              S.store_and_fwd_flag, S.RatecodeID, S.PULocationID, S.DOLocationID, S.passenger_count,
              S.trip_distance, S.fare_amount, S.extra, S.mta_tax, S.tip_amount, S.tolls_amount, S.ehail_fee,
              S.improvement_surcharge, S.total_amount, S.payment_type, S.trip_type, S.congestion_surcharge
            );

  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles

pluginDefaults:
  - type: io.kestra.plugin.jdbc.postgresql
    values:
      url: jdbc:postgresql://pgdatabase:5432/ny_taxi
      username: root
      password: root